<header>

</header>
<main>
    <% provide(:title, "ホーム") %>
    <h1 class="title">我が家の在庫管理</h1>
    <div class="box">
        <div class="note">
            <p class="notices">購入必須</p>
        </div>
        <div class="t-ble">
            <table>
                <thead>
                    <tr>
                        <td>項目</td>
                        <td>在庫数</td>
                        <td>最低在庫数</td>
                    </tr>
                </thead>
                <!-- ここから変更 -->
                <tbody>
                    <% @applications.each do |application| %>
                    <% if application.stock < application.required %>
                    <tr>
                        <td><%= link_to application.item, application_path(application) %></td>
                        <td><%= application.stock %></td>
                        <td><%= application.required %></td>
                    </tr>
                    <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- ここまで変更 -->
        <div class="l-menu">
            <%= link_to '買い物リスト 一覧へ', '/applications/menu' %>
        </div>

    </div>
    <div class="stock-box">
        <%= link_to '在庫リスト', '/applications/place' %>
    </div>
    </div>
</main>
<%# <footer id="footer">
    footer
</footer> %>