<header>

</header>

<%# <nav>
    <ul class="nav-list">
        <li class="nav-list-item">
            <a href="#">Home</a>
        </li>
        <li class="nav-list-item">About</li>
        <li class="nav-list-item">Topic</li>
    </ul>
</nav> %>


<main>
    <div class="title">
        <h1>
            <%= @application.item %></h1>
    </div>
    <div class="box">
        <div class="t-ble">
            <table>
                <tbody>
                    <tr>
                        <th>在庫数</th>
                        <td><%= @application.stock %> / <%= @application.required %></td>
                    </tr>
                    <tr>
                        <th>保管場所</th>
                        <td><%= @application.space %></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="edit-box">
            <%= link_to "編集", edit_application_path(@application) %>
        </div>
        <div class="delete-box">
            <%= link_to "削除", application_path(@application), method: :delete %>
        </div>
        <div class="return-box">
            <%= link_to '戻る', 'javascript:history.back()' %>
        </div>
    </div>
</main>
<%# <footer id="footer">
    footer
</footer> %>